body {
}
.container {
  color: rgba(255, 255, 255, 0.932);
  justify-content: center;
  background: url(./assests/conceptual-image-of-blue-smoke-isolated-on-dark-black-background-and-wooden-table-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: Arial, Arial, Helvetica, sans-serif;
}
.homeHead {
  padding-bottom: 0px;
  position: relative;
  z-index: 2;
}
.typewriter {
  justify-content: center;
  text-align: center;
  font-size: 28px;
}
h1 {
  margin-top: 0px;
  text-align: center;
  padding: 0;
}
h2 {
  text-align: center;
  padding: 0;
}
h3 {
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.column {
  align-items: center;
  text-align: center;

  /* margin: 0 10px; */
}
.ProjectsCon {
  text-size-adjust: 50%;
  padding-bottom: 100px;
}
.AboutMeCon {
  padding-bottom: 500px;
}
.skill-category {
  text-align: center;
  margin-bottom: 0px;
}
/* html {
  scroll-snap-type: y mandatory;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  max-height: 100%;
} */
.bar {
  width: 200px;
  height: 23px;
  background-color: #7bc4fc;
  overflow: hidden;
  margin: 0px;
  border-radius: 30px;
}

.bar-fill {
  height: 100%;
  background-color: #023ec0;
}
.buttonContainer {
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.p-Tag {
  padding: 20px;
}
.skill-name {
  justify-items: center;
  text-align: center;
  margin: 10px 0;
}

.lottie-container {
  position: relative;
  height: 80vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  vertical-align: middle;
  z-index: 0;
}

.centreButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-name {
  justify-content: space-between;
}
.button-63 {
  background-image: linear-gradient(144deg, #314f79, #5b42f3 50%, #018d97);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 10px;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.button-63:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(111, 32, 185, 0.5),
    -0.125rem -0.125rem 1rem rgba(255, 255, 255, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 255, 255, 0.5);
}
.centrePTag {
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
